<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <label  class="compose">Title</label>
  <input type="text" class="compose" name="postTitle">
  <label  class="compose">Post</label>
  <textarea class="compose"  rows="4" cols="30" name="postBody"></textarea>
<button type="submit">Publish</button>
</form>
<%- include("partials/footer") -%>